{% extends 'emails/b2b/base.html.twig' %}

{% block body %}

<tr>
    <td colspan="2">
        <ul>
            <li> La sécurité de votre paiement : Pix.City Services s’assure que le client cantonne le montant de la mission dans un compte chez notre partenaire bancaire : Mango Pay. Ce qui veut dire que l’argent est conservé jusqu’à ce que la mission soit terminée. Vous serez prévenu (e) par notification dans votre espace personnel que ce paiement a été fait.</li>
            <li>La facturation : Pix.City Services édite en votre nom la facture qui va vous lier à votre client. Vous n’avez rien à faire puisque dès que vous avez cliqué sur « terminer la mission » et que le client a validé de son côté, la facture sera disponible dans votre espace et celui du client. Votre paiement sera déclenché sous 48h auprès de Mango Pay post création de cette facture.</li>
        </ul>
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;" align="left">
        Bonjour {{ user.firstName }}
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        Bienvenue sur Pix.city Services, votre candidature à été acceptée par notre équipe !
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        Vous pouvez désormais vous connecter à votre nouvel espace personnel nommé « Services ».
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        <p>
            Ce que vous pourrez y faire :<br/>
        </p>
        <ul>
            <li>Créer et Editer vos missions : une mission est un pack que vous pourrez personnaliser pour un client (ex : Le client ne souhaite pas 5 mais 6 posts instagram par mois).</li>
            <li>Accéder à vos paiements : Vous aurez un espace de paiement complémentaire à celui de Pix.City.</li>
            <li>Et bien d’autres fonctionnalités à découvrir ! Vous aurez un espace d’échanges de conservation avec vos clients, vous pourrez conserver tous vos historiques.</li>
        </ul>

    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        Que fait Pix.City Services pour vous ?
    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">

    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        Évidemment vous retrouverez plein d’explications sur notre FAQ
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size: 16px; font-family: 'Montserrat', sans-serif" height="10" class="">
        Connectez-vous vite sur votre profil afin de créer vos packs et commencer l’aventure Pix.City Services !
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="10" class="">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td align="center" style="font-family: 'Montserrat', sans-serif; font-size:16px; color:#103558;" valign="middle">
        <table width="288" class="inner-contents" border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody><tr>
                <!--[if lt IE 9 | mso]>
                <td width="5" style="font-family:Arial; font-size:16px; color:#103558;" valign="middle"><img style="display:block; border:none;" src="http://pixielanes.in/new/images/cta-left.png" width="25" height="48" alt=""/></td>
                <![endif]-->
                <td bgcolor="#009cde" style="font-family: 'Montserrat', sans-serif; font-size:16px; color:#ffffff; background-color:#103558; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;" valign="middle">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td style="font-family: 'Montserrat', sans-serif; font-size:16px; color:#FFFFFF;" valign="middle" align="center" height="48"><a style="display:block; text-decoration:none; color:#ffffff; padding:10px 0px 10px 0px; font-size: 16px;" href="{{ url('b2b_community_manager_index') }}" target="_blank">Accédez à mon profil (eg ACCUEIL)
                                    <img style="vertical-align: middle;" src="http://pixielanes.in/new/images/pix-city-services-02.png" alt=""></a></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <!--[if lt IE 9 | mso]>
                <td width="5" style="font-family:Arial; font-size:16px; color:#103558;" valign="middle"><img style="display:block; border:none;" src="http://pixielanes.in/new/images/cta-right.png" width="5" height="40" alt=""/></td>
                <![endif]-->
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
<tr>
    <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
        <!--[if gt mso 14]>&nbsp;<![endif]-->
    </td>
</tr>
{% endblock %}