{% extends 'emails/b2b/base.html.twig' %}

{% block body %}
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;" align="left">
            Bonjour {{ user.firstName }} C’est le grand jour !🎉
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;" align="left">
            Nous tenions à vous remercier pour votre candidature pour devenir city-maker Services.
        </td>
    </tr>

    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;" align="left">
            Malheureusement votre profil ne remplit pas tous les critères pour devenir city-maker Services. Afin de bien comprendre nos attentes, voici un lien FAQ vers nos critères de validation.
        </td>
    </tr>

    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>
    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;" align="left">
            Nous vous souhaitons une très bonne continuation.
        </td>
    </tr>

    <tr>
        <td valign="top" height="" class="text-darkgray text-left" style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;" align="left">
            L’équipe Pix.City Services
            <br/>
            services@pix.city
        </td>
    </tr>


    <tr>
        <td valign="top" style="font-size:1px; line-height:1px;" height="40" class="height20">
            <!--[if gt mso 14]>&nbsp;<![endif]-->
        </td>
    </tr>

{% endblock %}