{% extends 'emails/b2b/base.html.twig' %}

{% block body %}


<tr>
    <td valign="top" height="" class="text-darkgray text-left"
        style="font-size: 16px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; font-weight: bold; line-height: 1.6!important;"
        align="left">Bonjour {{ client }} !🎉
    </td>
</tr>
<tr>
    <td valign="top" height="" class="text-darkgray text-left"
        style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;"
        align="left">
        &nbsp;
    </td>
</tr>
<tr>
    <td valign="top" height="" class="text-darkgray text-left"
        style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;"
        align="left">

        CM Username vous a envoyé une question sur votre espace :"{{ message }}"
    </td>
</tr>
<tr>
    <td valign="top" height="" class="text-darkgray text-left"
        style="font-size: 12px; font-family: 'Montserrat', sans-serif; color: #4A4B4D; line-height: 1.6!important;"
        align="left">
        &nbsp;
    </td>
</tr>

{% endblock %}
