{% extends 'admin/page.html.twig' %}
{% block content %}

    <ol class="breadcrumb breadcrumb-col-teal">
        <li><a href="{{ path('admin_dashboard_index') }}"><i class="material-icons">home</i> Accueil</a></li>
        <li class="active">{{ 'label.packsList'|trans }}</li>
    </ol>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        {{ 'label.packsList'|trans }}
                    </h2>
                </div>
                <div class="body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Client</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Mission Title</th>
                                <th> Pay Type </th>
                                <th>CTA</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>John</td>
                            <td>20</td>
                            <td>pending</td>
                            <td>02-06-2019</td>
                            <td>test</td>
                            <td>Online</td>
                            <td>View more</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>John</td>
                            <td>20</td>
                            <td>pending</td>
                            <td>02-06-2019</td>
                            <td>test</td>
                            <td>Online</td>
                            <td>View more</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>John</td>
                            <td>20</td>
                            <td>pending</td>
                            <td>02-06-2019</td>
                            <td>test</td>
                            <td>Online</td>
                            <td>View more</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
