{% extends 'b2b/client/base.html.twig' %}

{% import 'b2b/shared/macros.html.twig' as macros %}
{% block title %}Hello!{% endblock %}

{% block body %}
{% if app.user is defined and app.user is not null%}

    <div class="container">
        <h3> Hi {{ app.user.firstName }}</h3>
        <p>
            We are working on client pages.
        </p>
        <div class="row">
            {% for key, notification in notifications %}
                {{ macros.notification(notification,key) }}
            {% endfor %}

        </div>
    </div>



{% else %}

<h1>Thanks for registering</h1>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            $('button.close').on('click',function(){
                var id = $(this).attr('data-id');
                alert(id);
                $.ajax({
                    type: 'GET',
                    url: '{{ path('b2b_notification_unread') }}',
                    data: {id: id},
                    sucess: function(data){
                        console.log('success: ' + data);
                    }
                });
            });

            $("#notify-more-btn").on('click',function(){
                $("#notify-more-btn").toggleClass('d-none');
                $("#notify-card").toggleClass('d-none');
                $("#notify-less-btn").toggleClass('d-none');
            })

            $("#notify-less-btn").on('click',function(){
                $("#notify-more-btn").toggleClass('d-none');
                $("#notify-card").toggleClass('d-none');
                $("#notify-less-btn").toggleClass('d-none');
            });

        });
    </script>
{% endblock %}
