$colorGreen: #5db597;
$colorDeepBlue: #183555;
$colorPink: #ef5285;
$colorValid: #00CC00;
$colorError: #CC0000;

$fontTitle: "Lobster";

$imageDir:'../img/';
$baseFontSize: 14px;

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

$fontRegular: "Montserrat";
$fontLight: "Montserrat";