<html>
<head>
    <title>New Community Manager</title>
</head>
<body>
    <p>Un email est envoyé au CM  lorsque son profil est upgradé côté PCS (seulement 1 fois). N'oubliez pas de sauvegarder cette date dans notre DB (nouvelle colonne)</p>
</body>
</html>