<td class="col-visibility public">
    {% if item.visible == 0 %}
        <i class="material-icons off">visibility_off</i>
    {% else %}
        <i class="material-icons on">visibility</i>
    {% endif %}
</td>