{% extends 'b2b/base.html.twig' %}


{% block body %}
<div class="container-fluid bg-dashboard vh-100">
    <div class="row">
        <!-- Fixed top nav -->
        <nav class="navbar navbar-expand-lg fixed-top shadow-sm bg-white internal-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:;"><img src="../images/header-logo-main.svg"
                                                                 alt="Pix.City"></a>
            </div>
        </nav>
        <!-- Fixed top nav ends -->
        <!-- Felicitations content -->
        <div class="col-sm-12 p-4 d-flex align-items-center justify-content-end felicitations-container">
            <div class="content w-50">
                <h2 class="font-weight-bold text-darkblue fz-40 mb-3">Félicitations ! 🎉 </h2>
                <h4 class="font-weight-bold text-darkblue fz-20 mb-3">Votre inscription est cours d'analyse</h4>
                <p>Votre pack va rapidement être visible sur le site Pix.City Services. Pas de panique si vous souhaitez modifier votre pack un peu plus tard ! Vous pourrez facilement éditer un pack suivant vos envies ou en accord avec votre futur client par exemple. </p>

                <p>A ce titre, vous pourrez discuter avec votre client via un espace de discussion sur votre <a href="{{ url('b2b_community_manager_index') }}">dashboard city-maker</a></p>
                <a href="{{ url('b2b_community_manager_index') }}" class="btn btn-darkblue btn-pill lh2">Retourner sur mon dashboard</a>
            </div>
        </div>
    </div>
    <!-- Felicitations content ends -->
</div>
{% endblock %}