<div class="modal modal1 plConfirm show-on-load" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content bgPictos">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Bravo {{ app.user.firstname }} !</h5>

            </div>
            <div class="modal-body">
                <p>Votre Card a été soumise à la Team Pix.City pour validation. Vous recevrez une notification par email lorsqu’elle sera publiée.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green btn-primary" data-dismiss="modal">OK, merci !</button>
            </div>
        </div>
    </div>
</div>