<div class="modal fade cropper-tool" id="modal-cropper-tool" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="modalLabel">Editez votre image</h3>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="crop-image" src="" alt="Picture" height="auto" width="100%">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" id="validate-crop">Valider</button>
            </div>
        </div>
    </div>
</div>