<div class="modal plConfirm show" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Féliciation !</h5>
            </div>
            <form>
                <div class="modal-body">
                    <p>Votre compte pixie a bien été créé.</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('front_homepage_index') }}" class="btn green btn-primary">Revenir à l'accueil</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop show"></div>