{% import "front/_shared/macros.html.twig" as macro %}

{% for card in cards %}
    {{ macro.cardSingle(card, isEditable, cmFlag) }}
{% endfor %}

{% if cards | length >= 10 %}

<div class="loadCards"></div>
<div class="col-xs-12 text-center">
		<a href="javascript:;" class="btn btn-green btn-rollover" id="showMoreCards"><span class="text">VOIR PLUS DE CARDS</span><i class="fas fa-plus-square"></i></a>
werwer
</div>
{% endif %}
