<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="cookiealert-container">
         En poursuviant votre navigation sur ce site. vous acceptez l'utilisation de cookies pour nous permettre de
         mesurer l'audience et vous aider à partager plus facilement ce qui vous plait sur vos réseaux sociaux. Tout
         sur notre charte cookies et le paramétrage des cookies en cliquant "en savoir".
        <a href="http://cookiesandyou.com/" target="_blank">More Information</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
</div>