<!-- Modals Starts-->
<!-- Folllow the City Maker modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-times"></i>
          </button>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12 modal-logo-city-maker">
                      <img src="{{ absolute_url(asset('build/images/header-logo-main.svg')) }}" alt="Pix.City" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <p>Vous souhaitez suivre les publications des prochaines cards de ce city-maker?</p>
                      <p>Cliquez et ajoutez-le à vos city-makers favoris dans votre compte voyageur (en créant ou en accédant à votre compte).</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 modal-footer-button">
                  <a href="javascript:;" class="btn btn-outline-pink btn-block" data-dismiss="modal">PLUS TARD</a>
              </div>
              <div class="col-md-6 modal-footer-button">
                  <a href="javascript:;" class="btn btn-green btn-block">ACCEDER A MON COMPTE VOYAGEUR</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Modals Ends-->
