{% extends 'emails/_base.html.twig' %}

{% block body %}
    <p>Bonjour Rakesh,</p>
    <p>The following Client list records is missing to create Mangopay account</p>
    <table class="table-striped" width="100%">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Full Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for row in missingRecords %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.firstName ? row.firstName ~' '~ row.lastName : 'N/A' }}</td>
                    <td>{{ row.email ? row.email : 'N/A' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        À tout de suite sur Pix.City !
    </p>

{% endblock %}