{% extends 'emails/_base.html.twig' %}

{% block body %}
    <p>Bienvenue {{ firstname }},</p>
    <p>
        Vous êtes city-maker ! Vous faites désormais partie de la communauté des influenceurs locaux de Pix.City et nous pouvons dès maintenant collaborer ensemble. 
    </p>
    <p><strong>3 possibilités de contribuer à l’aventure Pix.City :</strong></p>
    <p><strong>#1 – Envoyez-nous les 5 adresses favorites de votre région :</strong></p>
    <p>Comment ça marche? Envoyez un mail à l’adresse redaction@pix.city en proposant vos adresses restos, hôtels, boutiques, activités, patrimoine… (en indiquant pour chaque si vous disposez déjà d’un minimum de 8 photos).</p>

    <p><strong>#2 – Rédigez, publiez et gagnez des lots selon votre niveau !</strong></p>
    <p>Les adresses reçues sont alors étudiées par l’équipe éditoriale.</p>
    <p>Certaines seront sélectionnées pour devenir des cards (l’adresse retenue est dans ce cas présentée comme une interview rédigée et détaillée). Ces demandes de cards sont visibles dans votre compte city-maker et vous permettent d'augmenter de niveau une fois publiée. Tous les mois, nous vous proposons des lots à gagner dont la valeur augmente avec votre niveau! </p>
    <p> Donc + vous envoyez d’adresses, plus vous avez de possibilités d’être publié(e) et de gagner des lots! N'hésitez pas à vous rendre sur l'accueil de votre compte pour voir votre niveau et les lots à gagner ce mois-ci.</p>

    <p><strong>#3 – Devenez influenceur et/ou community manager local !</strong></p>
    <p> Vous souhaitez aller plus loin, gagner + en gérant un compte Instagram, une page Facebook et/ou Google My Business pour le compte de commerçants, boutiques, restaurateurs et hôteliers dans votre région ? </p>
    <p> Une fois votre 1ere card publiée, vous pourrez postuler à l'espace Services et créer votre compte! Des centaines de clients pourront alors vous contacter pour que vous gériez leur visibilité locale.</p>
    <table width="100%">
        <tr>
            <td align="center" style="padding-bottom:10px">
                <a style="background-color: #30b996; color: #FFF; padding: 10px 20px; display: inline-block; text-decoration: none; border-radius: 4px;" href="{{ url('front_user_register_confirm', {token: token}) }}">Découvrez votre compte city-maker !</a>
            </td>
        </tr>
        <tr><td align="center">
                Mot de passe oublié ? <a href="{{ url('front_forgot_password') }}">Réinitialiser le mot de passe.</a>
        </td></tr>
    </table>


    <p>
L’équipe Pix.City<br/>
Suivez-nous sur <a href="https://www.facebook.com/groups/2234810596763111/">Facebook</a> pour échanger entre city-makers et sur Instagram <a href="https://www.instagram.com/pix_city/">@Pix_city</a> pour découvrir vos posts.
    </p>

{% endblock %}