{% extends 'emails/_base.html.twig' %}

{% block body %}

    <p>Bonjour {{ firstname }},</p>
    <p>Nous avons bien reçu ta card et nous t’en remercions.</p>
    <p>Nous allons la relire et si tout est ok, nous la publierons sur le site.<br>Un mail t’en informera !</p>

{% endblock %}