{% extends 'emails/_base.html.twig' %}

{% block body %}
    <p>Bonjour {{ firstName }},</p>
    <p>
        Merci ! Nous venons de t'ouvrir {{ card }}
    </p>
    <p>
        Une fois cette card validée et mise en ligne par notre équipe, tu peux envoyer toutes tes autres idées à redaction@pix.city. Si tu peux nous fournir à chaque fois:
    </p>
    <p>
        Le nom du lieu<br/>
        Une date de rendu (cela nous permet de te réserver les CARDS)<br/>
    </p>
    <p>
        NOTA: n'oublie pas , il te faudra 8 photos pour réaliser une CARD ;)
    </p>
    <p>
        Voici quelques éléments importants et règles pour collaborer sur notre site:
    </p>
    <p>
        - <a href="https://www.pix.city/p/regles-d-or-editoriales-sur-pix">Les 5 règles d'or éditoriales sur Pix.City</a><br/>
        - <a href="https://www.pix.city/p/regles-d-or-photos-sur-pix">Les 5 règles d'or des photos sur Pix.City</a>
    </p>
    <p>
        - Voici 2 exemples de CARDS :<br/>
        > Exemple CARD restaurant<br/>
        > Exemple CARD Nature
    </p>
    <p>
        Merci encore,<br/>
        A très vite
    </p>
    <p>
        <a href="{{ url('front_pixie_account_cards_projects') }}" style="background-color: #30b996; color: #FFF; padding: 10px 20px; display: inline-block; text-decoration: none; border-radius: 4px;">[Aller dans mon espace]</a><br>
    </p>
    <p>
    N'hésite pas à nous contacter par mail si tu as des questions.<br/><br>
        <a href="mailto:redaction@pix.city">J’ai des questions</a>

    </p>
    <p>
        La Team Pix.City
    </p>

{% endblock %}