{% extends 'admin/page.html.twig' %}

{% block content %}
    <div class="error-page">
        <h1><i class="material-icons">error</i> ERROR 404</h1>
        <p>{{ 'error.not_found'|trans }}</p>
    </div>
{% endblock %}