{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top:100px">
        <div class="col-md-12">

            <a href="{{ path('front_pixie_account_settings') }}">
                <img src="/uploads/users/Capture.png" alt="" style="width: 100%">
            </a>


        </div>
    </div>
{% endblock %}
