<!-- My missions edition contents -->
<div class="mission-edition-container col-sm-12 p-0 vh-100">
    <div class="overlay-dashboard"></div>
    <div class="col-sm-10 offset-sm-2 mission-edition-content bg-white p-0" data-simplebar>
        <div id="mission-edit-container"></div>
    </div>
</div>
<!-- My missions edition contents ends -->

<!-- Cancel missions contents -->
<div class="cancel-mission-container col-sm-12 p-0 vh-100">
    <div class="overlay-dashboard"></div>
    <div class="col-sm-10 offset-sm-2 cancel-mission-show-content bg-white p-0">
        <div class="row">
            <div class="col-md-10 mx-auto my-5">
                <p class="fz-20 text-error">Annuler la mission</p>
                <h2 class="fz-28 font-weight-bold">Shooting soirée d’ouverture du O’Tacos Levallois-Perret</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form action="" method="get" accept-charset="utf-8">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label>Qui souhaite annuler la mission ?</label>
                                    <select class="selectpicker select-canceller" data-width="100%" data-live-search="true">
                                        <option value=0 selected>Je souhaite annuler la mission</option>
                                        <option value=1>Le client souhaite annuler la mission</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <textarea class="form-control form-control bg-lightwhite fz-14 pack-description cancel-reason" cols="30" rows="10" maxlength="255"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="javascript:;" class="close-cancel-mission btn btn-white-cancel btn-block btn-pill lh2">Annuler</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="javascript:;" id="cancel-mission-btn" class="btn btn-error btn-block btn-pill lh2" data-id="">Annuler la mission</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="cancel-mission-commentary-container d-flex align-items-center justify-content-center vh-100">
            <div class="cancel-mission-commentary">
                <div class="client-request-cancellation text-center">
                    <p class="fz-20 mb-3">Votre demande d’annulation à bien été envoyée à votre client</p>
                    <p class="fz-16 font-weight-light">Dès la confirmation d'annulation de la mission côté client, la mission apparaitra comme "annulée" dans votre espace city-maker.</p>
                    <a href="javascript:;" class="btn btn-error btn-pill lh2 mx-auto">Retourner au dashboard</a>
                </div>
                <div class="customer-request-cancellation text-center">
                    <p class="fz-20 mb-3">A la demande du client, vous avez accepté d’annuler la mission</p>
                    <p class="fz-16 font-weight-light">Votre mission apparaitra comme annulée dans votre dashboard une fois que votre client l’aura confirmé. </p>
                    <p class="fz-16 font-weight-light">Si vous avez des  questions, consultez notre <a href="javascript:;">FAQ</a></p>
                    <a href="javascript:;" class="btn btn-error btn-pill lh2 mx-auto">Retourner au dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cancel missions contents ends-->