
<!-- Modal -->
<div class="modal fade" id="packModal" tabindex="-1" role="dialog" aria-labelledby="packModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body" id="pack-details">
                Loading...
            </div>
        </div>
    </div>
</div>