{% extends 'b2b/client/base.html.twig' %}

{% import 'b2b/shared/macros.html.twig' as macros %}
{% block title %}Félicitations{% endblock %}


{% block newbody %}

    <div class="cm-transition pt-5 mt-5">
        <div class="container">

            <div class="row">
                <div class="col-md-12 transition-tabs">

                    <div class="tab-content" id="pills-tabContent">

                        <section>
                            <div class="row">
                                <div class="col-md-12 cm-congrats-container d-flex align-items-center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="/images/cm-trans-congrats-blob.svg">
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <div class="content">
                                                <h2 class="font-weight-bold text-darkblue fz-40 mb-3">Félicitations !
                                                    🎉ss </h2>
                                                <h4 class="font-weight-bold text-darkblue fz-20 mb-3">Votre inscription
                                                    est cours d'analyse</h4>
                                                <p>Notre équipe la validera sous 72h et reviendra vers vous par mail. Si
                                                    vous avez des questions : contactez-nous sur <a
                                                            href="mailto:services@pix.city">services@pix.city</a></p>
                                                <a href="{{ path('prestations_de_serviceindex') }}" class="btn btn-outline-pink btn-pill lh2">Retourner
                                                    sur Pix.city Services</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



