{% extends 'front/account/pixie/base.html.twig' %}
{% import "front/_shared/macros.html.twig" as macro %}

{% block body_class %}{{ parent() }} pixieAccount account{% endblock %}

{%  block meta_title %}{% endblock %}
{%  block meta_description %}{% endblock %}

{%  block meta_robots %}{% endblock %}





{% block page_content %}

    <div class="container main" style="margin-top: 100px;">
        <p>Thanks for Register (Congrats now you become community Manager)</p>

        <a href="/community-manager/profile">
            <img src="/uploads/users/Capture.png" alt="" style="width: 100%">
        </a>

    </div>

{% endblock %}



{% block footer_class %}simpleFooter{% endblock %}
