{% extends 'admin/page.html.twig' %}
{% form_theme form 'admin/_forms/fields.html.twig' %}
{% block content %}

    <ol class="breadcrumb breadcrumb-col-teal">
        <li><a href="{{ path('admin_dashboard_index') }}"><i class="material-icons">home</i> Accueil</a></li>
        <li class="active">{{ 'label.missions'|trans }}</li>
    </ol>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Edit User Mission
                    </h2>
                </div>
                <div class="body">
                    {{ include('admin/b2b/user_mission/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('admin_user_mission_index') }}">back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

